@use "@/ui/variables.module.scss" as v;
@use "@/ui/mixins.module.scss" as mixins;

.footer {
  @include mixins.flexBox(null);
  position: relative;
  background: linear-gradient(180deg, v.$primaryColor, #ff7337);
  color: #ffffff;
  flex-direction: column;

  &-title {
    @include mixins.font($size: 1.5rem, $weight: 700);
    line-height: 2.25rem;
    margin: 36px auto 44px;
  }

  &-content {
    @include mixins.flexBox(null, center);
    gap: 42px;
    margin: 0 auto 42px;
    text-align: center;
    width: 942px;
    z-index: 1;

    &-item {
      flex: 1 1 0;

      &-nth {
        @include mixins.font($size: 4.5rem, $weight: 300);
        line-height: 5.25rem;
        margin-bottom: 12px;
      }

      &-heading {
        @include mixins.font($size: 1rem, $weight: 500);
        line-height: 1.5rem;
        margin-bottom: 8px;
      }

      &-description {
        @include mixins.font($size: 0.75rem);
        line-height: 1rem;
      }
    }
  }

  &-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
