spring:
  profiles:
    active: dev
  
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api/v1
jwt:
  signerKey: ${JWT_SECRET}

twilio:
  accountSid: ${TWILIO_ACCOUNT_SID}
  authToken: ${TWILIO_AUTH_TOKEN}   
  fromPhoneNumber: ${TWILIO_PHONE_NUMBER}