server:
  port: ${SERVER_PORT:8080}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

openapi:
  service:
    api-docs: E-Commerce API Docs
    server: http://localhost:${server.port}/api/v1
    title: E-Commerce API
    version: 1.0.0