@use "@/ui/variables.module.scss" as v;
@use "@/ui/mixins.module.scss" as mixins;

.submit-button {
  @include mixins.flexBox(center);
  @include mixins.defaultButton;
  text-transform: uppercase;
}

.not-allowed {
  cursor: not-allowed;
  opacity: 0.875;
}
