@use "@/ui/variables.module.scss" as v;
@use "@/ui/mixins.module.scss" as mixins;

.verify-container {
  @include mixins.flexBox(center);
  min-height: calc(100vh - 185px);
  width: 1040px;
  margin: 0 auto;

  &-content {
    @include mixins.flexBox(center);
    flex-direction: column;
    padding: 3.125rem 0;
  }
}

.verify-card {
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  width: 500px;
  overflow: hidden;

  &-heading {
    @include mixins.flexBox(center, space-between);
    min-height: 80px;

    &-wrap {
      @include mixins.flexBox(center, null);
      flex: 1;
    }

    button {
      @include mixins.flexBox(center);
      background: #ffffff;
      width: 80px;
    }

    &-label {
      @include mixins.font($size: 1.25rem, $color: #222222);
      flex: 1;
      padding-right: 80px;

      > div {
        @include mixins.flexBox(center);
      }
    }
  }
}

.no-padding {
  padding: 0;
}
