@use "@/ui/mixins.module.scss" as mixins;

.verify-form {
  $size: 32px;
  $spacing: 42px;
  overflow: hidden;

  &-content {
    padding: 0 80px;
  }

  &-heading {
    @include mixins.font(0.875rem);
    margin: 10px 0 8px;
    text-align: center;
  }

  &-phone-number {
    margin-top: 8px;

    > div {
      @include mixins.font(1rem, 500, 1.5rem);
      margin: 0 auto;
      text-align: center;
    }
  }

  &-group {
    @include mixins.flexBox($horizontal: center);
    position: relative;
    margin: 50px 0 10px;
  }

  &-group::after {
    content: "";
    position: absolute;
    right: calc(-#{$spacing} + 4px);
    bottom: 0;
    width: $size;
    height: 100%;
    background: #ffffff;
  }

  &-control {
    @include mixins.flexBox(center);
    flex-direction: column;
    margin: 0 -32px;

    > input {
      @include mixins.font(27px, 400);
      font-size: $size;
      letter-spacing: $spacing;
      padding: 0 0 0 42px;
      width: calc($size * 6 + $spacing * 5);
    }
  }

  &-lines {
    @include mixins.flexBox(center);
    padding: 0 32px;
    gap: 20px;
    width: 100%;

    div {
      flex: 1;
      border-top: 1px solid rgba(0, 0, 0, 0.26);
      height: 2px;
    }
  }

  &-error {
    @include mixins.font($size: 0.875rem, $color: #ff424f);
    min-height: 70px;
    text-align: center;
  }

  &-resend {
    @include mixins.flexBox(center);
    @include mixins.font(0.875rem, 500);
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 50px;
    gap: 10px;

    > button {
      background-color: #ffffff;
      @include mixins.font(0.9rem, 500);
      color: #05a;
    }
  }
}
